<%- include ('template/header.ejs') %>
    <title>Libri preferiti</title>

    <body>
        <div class="content">
            <% if(utente.Username==undefined){%>
                <h5 style="margin:0 auto;">Non puoi accedere a questa pagina senza essere loggato.<a href="/login">Clicca qui per loggarti</a></h5>
                <%} else{%>
                    <%- include ('template/navbar.ejs') %>
                        <div class="conntable">
                            <table class="table table-striped table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Genere preferito</th>
                                        <th scope="col">Link</th>
                                        <th scope="col">Ricercato con</th>
                                        <th scope="col">Rimuovi da preferiti</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% autori.forEach(function(autore) { %>
                                        <tr>
                                            <td>
                                                <%= autore.Nome %>
                                            </td>
                                            <td>
                                                <%= autore.GenerePreferito %>
                                            </td>
                                            <td>
                                                <%= autore.Link %>
                                            </td>
                                            <td>
                                                <%= autore.Tipo %>
                                            </td>
                                            <td>
                                                <a href="/rimuoviautore?IdAutore=<%=autore.IdAutore%>">Rimuovi</a>
                                            </td>
                                        </tr>
                                        <% }); %>

                                </tbody>
                            </table>
                        </div>
                        <% }%>
        </div>
        <%- include ('template/footer.ejs') %>
    </body>