<%- include ('template/header.ejs') %>
    <title>Libri preferiti</title>

    <body>
        <div class="content">
            <%- include ('template/navbar.ejs') %>
                <div class="conntable">
                    <table class="table table-striped table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Titolo</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Ricercato con</th>
                                <th scope="col">Valutazione</th>
                                <th scope="col">Autore</th>
                                <th scope="col">Link</th>
                                <th scope="col">Rimuovi da preferiti</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% libri.forEach(function(libro) { %>
                                <tr>
                                    <td>
                                        <%= libro.Titolo %>
                                    </td>
                                    <td>
                                        <%= libro.Descrizione %>
                                    </td>
                                    <td>
                                        <%= libro.RicercatoCon %>
                                    </td>
                                    <td>
                                        <%= libro.Valutazione %>
                                    </td>
                                    <td>
                                        <%= libro.Autore %>
                                    </td>
                                    <td>
                                        <%= libro.Link %>
                                    </td>
                                    <td>
                                        <a href="/rimuovilibro?IdLibro=<%=libro.IdLibro%>">Rimuovi</a>
                                    </td>
                                </tr>
                                <% }); %>

                        </tbody>
                    </table>
                </div>
        </div>
        <%- include ('template/footer.ejs') %>
    </body>